
	/*  normal  */
	#nav-study a {width: 121px; background: url(/el_studycenter/images/el/tw/nav.png) no-repeat; background-position: 0px 0px;  display: block;  height: 36px; }
	#nav-course a {width: 121px; background: url(/el_studycenter/images/el/tw/nav.png) no-repeat;   background-position: -121px 0px;  display: block;  height: 36px; }
	#nav-live a {width: 164px; background: url(/el_studycenter/images/el/tw/nav.png) no-repeat;   background-position: -242px 0px;  display: block;  height: 36px;}
	/*  hover  */
	#nav-study a:hover {background-position: 0px -44px; }
	#nav-course a:hover {background-position: -121px -44px;}
	#nav-live a:hover {background-position: -242px -44px;}
	/*  visit  */
	#study_current a { width: 121px; background: url(/el_studycenter/images/el/tw/nav.png) no-repeat;  background-position: 0px -88px;  display: block; height: 39px; }
	#course_current a {width: 121px; background: url(/el_studycenter/images/el/tw/nav.png) no-repeat;  background-position: -121px -88px;  display: block;  height: 39px;}
	#live_current a {width: 164px; background: url(/el_studycenter/images/el/tw/nav.png) no-repeat;  background-position: -242px -88px;  display: block;  height: 39px;}
	
	
/*  login  regist*/	
.loginbox08 {width: 230px; height: 230px; margin:1px 0px 0px 1px; float:left; border: solid 0px #8399AF; overflow: hidden; position: relative; background: url(/el_studycenter/images/el/tw/login_img_08.jpg) no-repeat; }

.regist_hedlineh1{ background:url(/el_studycenter/images/el/tw/regist_h1.png) no-repeat bottom; width:155px; height:52px; text-indent:-999px; margin:0px 0px 0px 93px; text-indent:-999px;}
	.reset_boder {border: 1px solid #b3b3b3; width: 710px; background: url(/el_studycenter/images/el/regist_text_bg.png) no-repeat; margin: 0px 0px 0px 94px; font-size: 11px; padding: 20px 0px 0px 80px;height: 330px;}
		.reset_hedlineh1{ background:url(/el_studycenter/images/el/tw/reset_h1.png) no-repeat bottom; width:126px; height:52px; text-indent:-999px; margin-left:93px;}
			.tab_nav {float: left; display: inline; width: 300px; margin: 30px 0px 20px 65px; border-bottom: 2px solid #9db0bc;}
			.tab_nav li { float: left; display: inline; }
			.usual ul a.selected { background: url(/el_studycenter/images/el/tw/tab_selected.png) no-repeat; width: 150px; height:22px; color: #000; display: block; font: 10px Verdana; font-weight:bold; text-align: center; padding: 4px 0px 0px; text-decoration: none  !important; font-size: 12px;}
			.usual ul a {background: url(/el_studycenter/images/el/tw/tab_hover.png) no-repeat; width: 150px; height: 22px; color: #000; font-weight:bold; display: block; font: 10px Verdana; text-align: center; padding: 4px 0px 0px; text-decoration: none  !important; font-size: 12px;}
/* input and button */


 	/* bcast pages */
	.bcast_fullcalendar_button {background: url(/el_studycenter/images/el/tw/borast_class_button.png) no-repeat; width: 138px; height: 40px; position: absolute; top:15px; right:0px;}
	input.c_r_bcast_send:hover {background-position: 0px -25px;}
	input.c_r_bcast_send:active {background-position: 0px -25px;}	
	input.c_r_bcast_send {background: url(/el_studycenter/images/el/button/borast_send.png) no-repeat; width: 80px; height: 25px; border: none; cursor: pointer;display: block; float: left; margin: 0px 0px 0px 10px; }

 	/* login pages */
	
		input.inputbutton_reg {background: url(/el_studycenter/images/el/tw/login_button_b.png) no-repeat; width: 48px; height: 27px; border: none; margin-left:8px; cursor: pointer; text-indent: -9999px; float: left;}
		input.sumit_button {background: url(/el_studycenter/images/el/tw/login_button_a.png) no-repeat; width: 48px; height: 27px; border: none; cursor: pointer; margin-left: 66px; text-indent: -9999px; float: left;}
		input.sumit_button:hover {background-position: 0px -27px;}
		input.sumit_button:active {background-position: 0px -27px;}
		input.inputbutton_reg:hover {background-position: 0px -27px;}
		input.inputbutton_reg:active {background-position: 0px -27px;}
		
 	/* reset and regist pages */
		input.reset_button{ background: url(/el_studycenter/images/el/tw/reset_button.png) no-repeat; width: 131px; height: 43px;  margin:5px 0px 0px 60px;  border: none; cursor: pointer; text-indent: -9999px; }
		input.reset_button:hover {background-position: 0px -41px;}
		input.reset_button:active {background-position: 0px -41px;}
		
		input.regist_button {background: url(/el_studycenter/images/el/tw/regist_button.png) no-repeat; width: 131px; height: 43px; margin:5px 0px 0px 60px; border: none; cursor: pointer; text-indent: -9999px; }
		input.regist_button:hover {background-position: 0px -41px;}
		input.regist_button:active {background-position: 0px -41px;}
		





