<div class="content_left">
        <div class="xinhd_newloginheadline"></div>
        <div class=" speaktest"> 2010年高等教育出版社被剑桥大学考试委员会（Cambridge ESOL）正式授权为其直属考试机构，挂牌成立“剑桥—高教外语考试中心”，该中心独立承担剑桥通用英语五级证书考试（MSE）和剑桥英语教学能力证书考试（TKT）在国内的考点设置、考务管理和教师培训工作。为国内考生出国留学、就业升职及继续学业提供语言能力证明。</br>
	
</div>
</div>