<div class="content_left">
        <div class="newloginheadline"></div>
                   <div class=" speaktest"> <%= t(:test_introduction).to_html%></br>
	<%= link_to "Start Level Test",replace_path(0),:class=>"more"%></div>
</div>