<div style="margin-left:65px;"> <iframe src="<%= encode_url(url_of(:ellis, :lesson, :lesson_id => @lesson.id)) %>" width="860"allowTransparency="true" height="660" align="center" frameborder="0"></iframe></div>
