<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
<link rel="stylesheet"   href="../styles/el_base.css" type="text/css" />
<link rel="stylesheet"   href="../styles/el_lc.css"type="text/css" />

<body>
<div id="bcastcasthelp">
		<h1>Having video problems?</h1>
		<p>TeachCast's preferred browsers are Firefox or Chrome. Also, make sure you have the latest version of Adobe Flash installed. If you are having video problems, try refreshing the window!</p>

        
 	<h1>These are common questions you can ask the teacher:</h1>
		<li>1.	What does _______ mean?<span style="color:#3C7288;"> (ask for definition)</span></li>
        <li>2.	How do you say _______? <span style="color:#3C7288;">(ask a pronunciation)</span></li>
        <li>3.	Can you also say _______? <span style="color:#3C7288;">( ask for an alternative word)</span></li>
        <li>4.	Can you please explain ________ again?<span style="color:#3C7288;"> (ask for a review of the concept)</span></li>
        <li>5.	Whats the difference between ________ and _______ <span style="color:#3C7288;">(ask the difference between two words)</span></li>
        <li>6.	Can you use the word _____ in a sentence? <span style="color:#3C7288;">(ask for a sample sentence)</span> </li>
        <li>7.	What do you think about ______? <span style="color:#3C7288;">(ask the teachers opinion)</span></li>
        <li>8.	Have you ever _______? <span style="color:#3C7288;">(ask the teacher about their experience)</span> </li>
        <li>9.	Is ______ (word) a ________? <span style="color:#3C7288;">(noun/verb/adjective/adverb ect)</span></li>
        <li>10.	How do you spell ________? <span style="color:#3C7288;">(ask for spelling help)</span></li>       
        
      
    </div>
    
    
    
</body>
</html>
