<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
<!--
<link rel="stylesheet"   href="../styles/el_base.css" type="text/css" />
<link rel="stylesheet"   href="../styles/el_lc.css"type="text/css" />
-->
<body>
<div id="bcastcasthelp">
	<h1>What is a QR Code?</h1>
		<li>A QR code (or Quick Response code) is a type of barcode first designed for the automotive industry, but now used in education!</li>
		<li>QR Codes are contain thousands of pieces of information and can be read by virtually any smart device using a QR scanning application.</li>
 	
      <h1  style="margin-top:15px;">How to use:</h1>
      <li>When you see a code on TeachCast, you'll notice they are in different colors.</li>
      <li>RED QR is a list of vocabulary related to the lesson you are studying.  Once you scan the code into your device, you will have a vocab list that you can take with you anywhere!</li>
      <li>BLACK QR is a lesson plan.  At the end of each broadcast lesson, you'll see a black code that you can scan to download the lesson plan you just studied.  You can take this lesson with you to review later.</li>
      <li>BLUE QR is a link.  This link is to a website outside TeachCast that can help you understand a concept you're learning.</li>
      <li>If you have any questions, please just ask!</li>
      <h1 style="margin-top:10px; height:20px; ">We recommend the following applications, but you can try out others.</h1>
 
   <table width="80%" border="0" cellspacing="0" cellpadding="0" class="table90" style="margin-top:10px;">
       		 <tr>
       		    <td class="table90_bgcolour">Device</td>
      		    <td class="table90_bgcolour">App Name</td>
          		<td class="table90_bgcolour">Maker</td>
       		   <td class="table90_bgcolour">Cost</td>
        	</tr>
        
          <tr>
           	 <td>Iphone/Ipod Touch</td>
           	 <td>Scan</td>
           	 <td>QR Code City</td>
           	 <td>Free</td>
          </tr>
          
          <tr>
           	 <td>Ipad</td>
           	 <td>Scan</td>
           	 <td>QR Code City</td>
           	 <td>Free</td>
          </tr>
          
          <tr>
          	  <td>Android</td>
          	  <td>QR Droid</td>
           	 <td>DroidLA</td>
           	 <td>Free</td>
          </tr>
 
            <tr>
          	  	 <td>Blackberry</td>
           		 <td>QR Code Scanner Pro</td>
           		 <td>The Jared Company</td>
          	     <td>Free</td>
           </tr>                             
      </table>
           
    </div>
    
</body>
</html>
