<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="941" height="600" id="cc_0FCB96D22CCCBEEE"><param name="movie" value="<%= @chinacache.show_chinacache_id %>" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" />
	<embed src="<%= @chinacache.show_chinacache_id %>" width="941" height="600" name="cc_0FCB96D22CCCBEEE" allowFullScreen="true" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"/>
</object>