<% url = "http://www.idapted.com/scenario/student/previews/#{@scenario_id}/Preparation?ui_language=en_US" %>
<div style="margin-left:65px;"> 
	<iframe src="<%=encode_url(url)%>" width="900"allowTransparency="true" height="600" align="center" frameborder="0"></iframe>
</div>
