<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>teacher</title>
<link rel="stylesheet" type="text/css"  href="../stylesheets/aboutus.css">
</head>

<body>

<div id="page">

	<h1 id="logoh1"><a href="" id="logo">欢迎进入TeachCAST</a></h1>
    
    <h2><a href="http://www.eleutian.asia/el_studycenter/signin/zh">欢迎进入TeachCAST</a><a href="http://www.tyjdb.com/">返回首页</a></h2>
    
    <div id="phoneCarousel">
    	<div class="previous arrow"></div>
        <div class="next arrow"></div>
        
        <div id="stage">
            <img style="top: 23.5px; left: 350px; opacity: 1; margin-left: -200px; z-index: 100; width: 400px; height: 373px;" id="iphone" class="animationReady" src="../images/el/aboutus/imac.png" alt="iPhone" height="373" width="400">
            <img style="top: 8.5px; left: 150px; opacity: 0.8; margin-left: -120px; z-index: 80; width: 240px; height: 223.8px;" class="animationReady" id="nexus" src="../images/el/aboutus/imac1.png" alt="Nexus One" height="373" width="400">
            <img style="top: -6.5px; left: 350px; opacity: 0.6; margin-left: -40px; z-index: 60; width: 80px; height: 74.6px;" class="animationReady" id="nokia" src="../images/el/aboutus/imac2.png" alt="Nokia" height="373" width="400">
            <img style="top: 8.5px; left: 550px; opacity: 0.8; margin-left: -120px; z-index: 80; width: 240px; height: 223.8px;" class="animationReady" id="blackberry" src="../images/el/aboutus/imac3.png" alt="BlackBerry" height="400" width="373">
        </div>
    </div>

    <img class="availableAppStore" src="../images/el/aboutus/available_on_the_appstore.png" alt="Available on the Appstore" height="100" width="250">
     <img class="availableAppStore" src="../images/el/aboutus/available_on_the_appstore1.png" alt="Available on the Appstore" height="100" width="250">
      <img class="availableAppStore" src="../images/el/aboutus/available_on_the_appstore2.png" alt="Available on the Appstore" height="100" width="250">
       <img class="availableAppStore" src="../images/el/aboutus/available_on_the_appstore3.png" alt="Available on the Appstore" height="100" width="250">
   
   
   <div style="padding-top:80px;"> 
    <div class="text">
    	<h3><img src="../images/el/aboutus/thumb1.png" alt="MobileApp" class="thumb" height="50" width="50">产品特色</h3>
         <pre>1、Live Broadcast</pre>
      <p>教师都是有多年教龄。线下提前预习课程，以达到最佳效果。在线学生可以及时提问，教师会在上课时间回答学生提出问题。</p>
       <pre>2、PPT 教材</pre>
      <p>课程内容都是教材中心根据SpeakENG 英语学习系统对应研究提供，模拟不同生活场景，相似词汇发音纠正。当地俚语学习。针对性教学。提供教学PTT下载。</p>  
       <pre>3、SpeakENG 英语学习系统</pre>
      <p>学前英语测试，专业题库，了解自己英语水平。可以随时进行 SpeakENG 课程学习。课程内容丰富，提供不同生活场景对话。课后不同练习题型，加强学习进度。鼓励学习多次学习，以达到巩固效果。</p> 
      <pre>4、可以定制教学</pre>
      <p>如果客户达到一定量，我们可以有针对性提供一套教学方案。</p> 
  </div>
    


      <div class="text">
    	<h3><img src="../images/el/aboutus/thumb.png" alt="MobileApp" class="thumb" height="50" width="50">我们的教师</h3>
       <pre>1、TeachCast教师是经过认证的美国公立学校教师和私立学校教师  </pre>
      <p>我们的教师是过去和现在的公立学校教师和大学教授，至少有五年实际教学经验。 他们的专业知识给TeachCast的每个学生营造一个专业高效的学习环境。</p>
       <pre>2、我们的所有教师完成了专业发展课程  </pre>
      <p>我们与美国怀俄明州政府合作制定了一项高效专业发展计划，要求所有教师在给TeachCast学生授课之前必须接受33个小时的专业培训。 </p>  
       <pre>3、TeachCast教师是经过认证的美国公立学校教师和私立学校教师  </pre><p>我们的教师是过去和现在的公立学校教师和大学教授，至少有五年实际教学经验。 他们的专业知识给TeachCast的每个学生营造一个专业高效的学习环境。</p>      
    </div> 
        
     </div>
   
    
</div>
<p id="thanks">
COPYRIGHT (C) 2006-2009 ELEUTIAN TECHNOLOGY,LLC. Right Reserved。 <a href="http://livven.deviantart.com/art/Apple-iPhone-4-PSD-167151411"></a>
</p>

<script type="text/javascript" src="../javascripts/jquery.js"></script>
<script type="text/javascript" src="../javascripts/script.js"></script>



</body></html>