      <div class="foot_navigationhero">
<img src="/el_studycenter/images/el/contactus/main_img.jpg" width="910" height="358" alt="" /></div>
<!--我们的教师-->
<div class="foot_navigation">
<h1>我们的教师</h1>
    <div class="heroimg">
	  <div class="selectorClass heroimgObject"></div>    
  </div>
    
    <div class="ourteacher"><pre>1、SpeakENG教师是经过认证的美国公立学校教师和私立学校教师  </pre><p>我们的教师是过去和现在的公立学校教师和大学教授，至少有五年实际教学经验。 他们的专业知识给SpeakENG的每个学生营造一个专业高效的学习环境。</p>  
     </div>
    <div class="ourteacher"><pre>2、我们的所有教师完成了专业发展课程  </pre><p>我们与美国怀俄明州政府合作制定了一项高效专业发展计划，要求所有教师在给SpeakENG学生授课之前必须接受33个小时的专业培训。 </p>  
     </div>
    <div class="ourteacher"><pre>3、SpeakENG教师是经过认证的美国公立学校教师和私立学校教师  </pre><p>我们的教师是过去和现在的公立学校教师和大学教授，至少有五年实际教学经验。 他们的专业知识给SpeakENG的每个学生营造一个专业高效的学习环境。</p>  
     </div>


	<div class="clear"></div>
</div><!--end-->


<!--特色-->
<div class="foot_navigation">
<h1>产品特色</h1>
    <div class="heroimg">
		  <div class="selectorClass1 heroimgObject"></div> 
  </div>
    
    <div class="feature"><pre>1、SpeakENG多媒体学习教材 </pre><p>虚拟体验，很像与说英语的人面对面交谈。 包括自我介绍、购物、招工面试和文学讨论在内的实际情景视频，均鼓励学生扮演其中的角色，所有这一切都有助于学生掌握英语，了解文化。 </p>  
     </div>
    <div class="feature"><pre>2、个人和小组视频会话 </pre><p>强调新课程的难点，同时与英语教师练习会话能力。 </p>  
     </div>
    <div class="feature"><pre>3、定制班 </pre><p>每次考试的题目都是从相应技能的数百个题目中随机抽出来的。 SpeakENG根据学生对每道题的回答，通过自动编班系统调整每个学生的能力测试难度。 </p>  
     </div>


	<div class="clear"></div>
</div><!--end-->
<!--Service-->
<div class="foot_navigation">
<h1>SpeakENG Service</h1>
    <div class="heroimg">
	  <div class="selectorClass2 heroimgObject"></div>  
  </div>
    
    <div class="service"><pre>1、公司培训</pre><p>本课程给在跨国公司工作的商业人士教授基础英语，以及针商业英语和教育英语。 此外，重点通过与英语教师连续进行系统的视频会话来提高英语会话能力和发音，使每个学生对自己的口头表达能力充满自信。</p></div>
    <div class="service"><pre>2、教学机构</pre><p>SpeakENG课程有1,300多个小时的教学内容，将数字音像、录音、角色扮演和母语支持组合在一起，营造一个互动环境，提供各种水平的英语培训。 SpeakENG结合了常见的与英语教师进行的一对一视频会话，协助学生克服难点，不断鼓励他们多学多说英语。</p> </div>
    <div class="service"><pre>3、学生补习</pre><p>初中生和高中生、大学生和准备到国外留学的学生、准备TOEIC或TOEFL考试的学生、企业人数、想学英语的任何人。</p> </div>
	<div class="clear"></div>
</div><!--end -->

	
<!--cast-->
<div class="foot_navigation">
<h1>Live Broadcast</h1>
    <div class="heroimg" style="height:450px;">
	  <div class="selectorClass3 heroimgObject"></div>
      <div class="selectorClass4 heroimgObject"></div>      
  </div>
    
    <div class="Broadcast"><pre>1、把更多时间花在与英语教师交谈上</pre>
<p>对于大多数课程，英语教师的授课时间只有1-2小时，但对于SpeakENG远程小班，英语教师要讲授6-10个小时。</p>
</div>
    <div class="Broadcast"><pre>2、定制课程</pre>
<p>SpeakENG教师根据每个小组的需求和目标量身定做课程。</p>
 </div>
    <div class="Broadcast"><pre>3、方便</pre>
<p>无论你在哪里上第一堂英语课，我们都会给你安排英语教师。 在放学后和晚上这段时间，均可使用视频会话。</p>
</div>
    <div class="Broadcast"><pre>4、最大价值</pre>
<p>每个组的价格由学生人数和他们要求的学习时数决定，而不是由教师人工费决定，这意味着他们只需为自己需要的东西付钱。</p>
</div>
    <div class="Broadcast"><pre>5、较小的班</pre>
<p>小班会话进行更加个性化的有效教学。</p>
</div>
    <div class="Broadcast"><pre>6、韩国英语教师与美国英语教师密切合作，可以从中受益 </pre>
<p>SpeakENG教师在团队教学环境下与韩国英语教师合作开发和规划课程，量身定做教学方法。 当他们一起合作时，韩国教师可以培养英语口头表达能力，同时分享他们的知识和教学方法。</p> 
</div>

	<div class="clear"></div>
</div><!--end -->



<!--联系我们-->
<div class="foot_navigation">
<h1>联系我们</h1>
    <div class="heroimg">
	  <div class="selectorClass5 heroimgObject"></div>   
  </div>
    
    <div class="contact">
    	<pre>地址</pre><p>Eleutian Technology, LLC
            215 Second Street
            Ten Sleep, WY 82442
        </p>
 		<pre>电话</pre><p>307-366-2902 (Office)</p>
        <pre>Fax</pre><p>307-366-2904 (Fax)</p>
	</div>

 
	<div class="clear"></div>
</div><!--end-->

