<!--Hero-->
<div class="foot_navigation">
	<img src="/el_studycenter/images/el/contactus/vdeio_hero.jpg" />
	<div class="clear"></div>
</div><!--Hero-->



<!--我们的公司-->
<div class="foot_navigation">
<h1>我们的公司</h1>
    <div class="heroimg" style="width:460px">
		<embed src="http://player.youku.com/player.php/sid/XMjI1MTAwNjI0/v.swf" allowFullScreen="true" quality="high" width="460" height="360" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>  
  </div>
    
    <div class="ourteacher" style="width:390px"><pre>专业、充分、稳定的教师团队</pre><p> 美国本土TESOL证书，研究生以上学历，多年在线教学经验 <br />
	   700多名全职教师，1000多名兼职教师</p>  
     </div>
    <div class="ourteacher"  style="width:390px"><pre>先进、科学、高效的教学方式</pre><p>	24小时不间断线上教学，保证教学连续性<br />
		 多样的教学方式，一对一，一对多 <br />
		 实时有效的教学反馈</p>  
     </div>
    <div class="ourteacher"  style="width:390px"><pre>全面、灵活、定制的教学内容</pre><p>	 初级、中级、高级等的不同级别英语学习教材<br />
			灵活、多变的授课方式<br />
			个性化的定制学习内容</p>  
     </div>
    <div class="ourteacher"  style="width:390px"><pre>科学、合理、有效的教学质量</pre><p>	先进的教师管理监控系统<br />
		    科学的学习管理系统</p>  
     </div>

	<div class="clear"></div>
</div><!--end-->


<!--特色-->
<div class="foot_navigation">
<h1>我们的产品</h1>
    <div class="heroimg" style="margin-left:60px">
		  <embed src="http://player.youku.com/player.php/sid/XMzk4NTM3ODIw/v.swf" allowFullScreen="true" quality="high" width="360" height="260" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>  
   </div>


    <div class="heroimg" style="float:right;margin-right:60px">
	<embed src="http://player.youku.com/player.php/sid/XMzk4NTM0OTY4/v.swf" allowFullScreen="true" quality="high" width="360" height="260" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
  </div>

	<div class="clear"></div>
</div><!--end-->


<!--联系我们-->
<div class="foot_navigation">
<h1>联系我们</h1>
    <div class="heroimg">
	  <div class="selectorClass5 heroimgObject"></div>   
  </div>
    
    <div class="contact">
    	<pre>地址</pre><p>中国北京市朝阳区霞光里66号院2号楼1701房间</p>
 		<pre>电话</pre><p>010－84466195  186-0039-9465</p>
        <pre>联系人</pre><p>Nick Wester 卢老师</p>		
        <pre>Email</pre><p>marketchina@eleutian.com</p>
	</div>

 
	<div class="clear"></div>
</div><!--end-->


